<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Settings</h1>
  </div>

  <div data-role="content">
    <ul data-role="listview">
      <% if @msg %>
          <li class="error-message"><%= @msg %></li>
      <% end %>

                  

<div data-role="fieldcontain">
  <input type="text" id="login" name="login" class="itemValue" <%= placeholder("Login") %> />
</div>
<input type="submit" value="Login"/>
</form>
</div>
           
    </ul>
  </div>
</div>
